# Dependencies
node_modules/
functions/node_modules/

# Build outputs
functions/lib/

# Debug logs
*.log
firebase-debug.log
firestore-debug.log
database-debug.log
functions/firebase-debug.log

# Environment files
.env
.env.local

# IDE
.idea/
.vscode/
