# Dependencies
node_modules/

# Build
dist/
*.tsbuildinfo

# Test
coverage/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Storybook
storybook-static/

# Logs
*.log
npm-debug.log*
